## Ejercicios de pair programming 16 de diciembre: Pandas VI, GROUPBY

Es el momento de poner en pr치ctica los groupby de pandas. 

Para esto vamos a trabajar con el csv creado en el ejercicio de pair programming anterior.


El objetivo de este ejercicio es agrupar los datos para contestar las siguientes preguntas:

쮺u치ntos ataques hubo por pa칤s? Devuelve un DataFrame.

游늷 NOTA Ordena los resultados de mayor a menor. 

Esto todav칤a no lo hemos visto, pero un DataFrame lo podemos ordenar con .sort_values()

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("tiburon3.csv")

In [38]:
df.columns

Index(['Unnamed: 0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'href', 'siglo', 'fatal_(y/n)', 'injury', 'date'],
      dtype='object')

In [39]:
df["fatal_(y/n)"].unique()

array(['N', 'Y', nan, 'M', '2017', ' N', 'UNKNOWN'], dtype=object)

In [11]:
df_pais = df.groupby("country")["case_number"].count()
df_pais_ord= df_pais.reset_index().sort_values(by = "case_number", ascending= False)

쮺u치ntos ataques ha habido por a침o? Devuelve un DataFrame. 

De nuevo ordena los resultados de mayor a menor.

In [16]:
df_pais_a침o = df.groupby("year")["case_number"].count()
df_pais_a침o_ord= df_pais_a침o.reset_index().sort_values(by = "case_number", ascending= False)

In [17]:
df_pais_a침o_ord.head()

       year  case_number
0       0.0          125
143  2015.0           68
135  2007.0           57
140  2012.0           54
130  2002.0           53

쮺u치ntos ataques hubo por a침o y sexo? Devolved un DataFrame solo del a침o 2000 en adelante.

In [34]:
pais_a침o_genero = df[df["year"]>=2000].groupby(["year" , "sex_"])["case_number"].count()
df_pais_a침o_genero= pais_a침o_genero.reset_index()

In [35]:
df_pais_a침o_genero.head()

     year sex_  case_number
0  2000.0    F            7
1  2000.0    M           26
2  2001.0    F            3
3  2001.0    M           26
4  2002.0    F            6

Primero extraed solo las filas que correspondan a USA, AUSTRALIA y SOUTH AFRICA. 

쮺u치ntos de los ataques fueron letales por sexo? Devuelve un DataFrame.

In [54]:
paises_casos = df[((df["country"]== "USA") | (df["country"]== "AUSTRALIA") | (df["country"]== "SOUTH AFRICA")) & (df["fatal_(y/n)"]=="Y")].groupby(["country", "sex_"])["case_number"].count()
df_paises_casos = paises_casos.reset_index()

In [55]:
df_paises_casos.head(6)

        country sex_  case_number
0     AUSTRALIA    F           12
1     AUSTRALIA    M           87
2  SOUTH AFRICA    F            3
3  SOUTH AFRICA    M           47
4           USA    F            5
5           USA    M           38

Usando el DataFrame creado en el ejercicio anterior. 쮼n qu칠 pa칤s hubo m치s ataques?

In [70]:
caso_5= df_paises_casos.groupby("country").sum()
caso_5
#caso_5[caso_5["case_number"] == caso_5.max()]

/var/folders/lb/nyps7wf17_767t6ln21znwmh0000gn/T/ipykernel_52307/2621513945.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  caso_5= df_paises_casos.groupby("country").sum()

              case_number
country
AUSTRALIA              99
SOUTH AFRICA           50
USA                    43

쯈u칠 y cu치ntos tipos de ataques hubo por pa칤s?

In [71]:
tipo_pais = df.groupby(["country", "type"])["case_number"].count()
df_tipo_pais = tipo_pais.reset_index()

In [72]:
df_tipo_pais.head(25)

                     country          type  case_number
0             AMERICAN SAMOA    Unprovoked            2
1                  ARGENTINA    Unprovoked            1
2                      ASIA?    Unprovoked            1
3                  AUSTRALIA          Boat            1
4                  AUSTRALIA       Boating            4
5                  AUSTRALIA       Invalid           18
6                  AUSTRALIA      Provoked           27
7                  AUSTRALIA  Sea Disaster            3
8                  AUSTRALIA    Unprovoked          290
9                    BAHAMAS       Invalid            1
10                   BAHAMAS      Provoked            3
11                   BAHAMAS    Unprovoked           25
12                   BAHREIN    Unprovoked            1
13                  BARBADOS    Unprovoked            3
14                    BELIZE    Unprovoked            1
15                   BERMUDA       Invalid            1
16                   BERMUDA    Unprovoked            3
17                    BRAZIL       Invalid            2
18                    BRAZIL    Unprovoked           14
19       BRITISH WEST INDIES    Unprovoked            1
20                     BURMA      Provoked            1
21                     BURMA    Unprovoked            1
22  Between PORTUGAL & INDIA    Unprovoked            1
23                    CANADA    Unprovoked            1
24        CEYLON (SRI LANKA)    Unprovoked            1